body {
    background-color: #292929;
}

h1 {
    font-family: "Handjet";
    color: rgb(218, 218, 218);
    font-size: 5rem;
}

h2 {
    font-family: "Handjet";
    color: rgb(218, 218, 218);
    font-size: 3rem;
    margin-bottom: 5px;

}

p {
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
}

.container{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
    
}

.instruction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {

    .simon-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .simon{
        height: 100px;
        width: 100px;
        border: solid;
        border-radius: 20px;
        border-width: thick;
        border-color: rgb(0, 0, 0);
        
    }

}

@media only screen and (min-width: 601px) {

    .simon-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        row-gap: 50px;
    }

    .simon{
        height: 200px;
        width: 200px;
        border: solid;
        border-radius: 20px;
        border-width: thick;
        border-color: rgb(0, 0, 0);
        background-color: red;
        font-size: 0rem;
        
    }

}



.red {
    display: flex;
    justify-content: center;
    background-color: red;
    color: red
}


.green {
    display: flex;
    justify-content: center;
    background-color: green;
    color: green
    
}

.yellow {
    display: flex;
    justify-content: center;
    background-color: yellow;
    color: yellow;
}

.blue {
    display: flex;
    justify-content: center;
    background-color: blue;
    color: blue;
}

.simon-click{
    opacity: .1;
    box-shadow: 0px 0px 50px 20px #ffffff;
}
